.App-content-container {
  display: flex;
  flex: 1;
}

.Modal-filter-container {
  width: 75%;
  height: 100%;
  background-color: white;
}

.Filter-fab {
  position: fixed;
  top: 2%;
  right: 2%;
  border-radius: 100%;
  padding: 3px;
  border: none;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px black;
}

.Filter-fab:hover {
    cursor: pointer;
}
