.Navigation-footer-container {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: space-between;
}

.Navigation-footer-item-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  text-decoration: none;
}

.Navigation-footer-item-container:hover {
  cursor: pointer;
  background-color: rgb(97, 97, 97);
}

.Navigation-footer-icon-container {
  display: flex;
  font-size: 2rem;
}

.Navigation-footer-item-icon {
  color: white;
  margin-right: 10px;
  font-size: 30px;
}