.Filter-container {
  padding: 20px 10px;
  min-width: 25%;
}

.Filter-title {
  margin: 0 0 10px 0;
  border-bottom: 1px black solid;
}

.Chip-container {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.Chip {
    margin: 1px;
}
