.Post-container {
    border-bottom: 1px rgb(175, 175, 175) solid;
    padding: 20px 0;
    max-width: 400px;
    width: 70%;
}

.Post-header-container {
    font-size: 0.9rem;
    padding-bottom: 10px;
}

.Post-image-container {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  aspect-ratio: 1;
  background-color: black;
}

.Post-image {
    object-fit: contain;
    width: 100%;
}

.Post-icon-container {
  margin-right: 5px;
}

.Post-icon-container:hover {
  color: rgb(146, 146, 146);
  cursor: pointer;
}

.Post-icons-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.Post-details-container {
  font-size: 0.9rem;
}

p {
  margin: 0;
}
